.thumbnail{
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: transparent;
}

.thumbnail .thumbnailContainer{
	border: 0px solid #ddd;
}

.thumbnail .thumbnailContainer img{
	border: none;
}

img.toolboxCardThumbnail{
	height: 100%;
	max-width: 100%;
}

.toolboxCard{
	padding: 0px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.toolboxHeader{
	padding: 10px;
}

.toolboxHeader:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.toolboxThumbnail{
	width: 200px;
	float: left;
	text-align: center;
	border: 0px solid #ddd;
	margin-right: 10px;
}

.toolboxThumbnail img{
	max-height: 100%;
	width: 100%;
}

.downloadControls{
	float: right;
	width: 100px;
	margin-left: 10px;
}

.downloadControls a, select{
	width: 100%;
}

.downloadControls select{
	margin-bottom: 10px;
}

.toolboxSeparator{
	clear: both;
	height:10px;
	border-bottom: 1px solid #ddd;
}

.descriptionContainer{
	padding: 10px;
}

.hiddenContainer{
	display: none;
}